<!-- app下载模态框 -->
<div class="modal fade" role="dialog" id="gridSystemModal" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">请在手机客户端使用!</h4>
            </div>
            <div class="modal-body">
                <div class="download">
                    <a href="#"><img src="/images/download_Android.png" width="180" height="63" alt="Class+安卓"/></a>
                    <a href="#"><img src="/images/download_iPhone.png" width="180" height="63" alt="Class+苹果"/></a>
                    <img class="img-responsive" src="/images/download_phone.png" alt="Class+数据分析"/>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
