<footer class="footer row">
    <div class="row">
        <div class="col-md-4">
            <a href="/function"><p>功能简介</p></a>
            <a href="#"><p>官方微博</p></a>
            <a href="javascript:;" class="wechat"><img src="/images/weixin-pop.png" alt="Class+微信公众号"><p>官方微信号</p></a>
        </div>
        <div class="col-md-4 contact-div">
            <a href="/contact" class="contact"><p>联系我们</p></a>
            <a href="/about_us"><p>关于我们</p></a>
            <a href="#" class="abc"><p>abc</p></a>
        </div>
        <div class="col-md-4">
            <a href="/question"><p>常见问题</p></a>
                  <a href="#"><p>了解更多</p></a>
            <a href="#"><p>对于教师们</p></a>
        </div>
    </div>
    <div class="row">
        <p class="footer-bottom"><a href="private.php">隐私条款</a>｜<a href="service.php">服务条款</a>｜Class+
            <script>document.write(new Date().getFullYear());</script>
        </p>
    </div>
</footer>
