<div class="row header">
    <div class="header-div">
        <!-- Logo -->
        <div class="col-md-2 col-md-offset-1 logo-div dropdown nav-div-phone">
            <a href="index.php" id="dLabel" class="btn-drop logo-a" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" class="logo-a">
                <img class="logo-img" src="images/logo.png" alt="Class+ Logo" width="184" height="184"/>
                <span>Class</span><span>+</span>
            </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li role="presentation" class="active"><a href="/"><i class="icon-reorder"></i>首页</a></li>
                <li role="presentation"><a href="/function"><i class="icon-asterisk"></i>功能展示</a></li>
                <li role="presentation"><a href="grade/teacher.html?account=1&terms=2"><i class="icon-bar-chart"></i>成绩分析</a></li>
                <li role="presentation"><a href="recommend/index.php?account=1"><i class="icon-group"></i>今日推荐</a></li>
                <li role="presentation"><a href="/about_us"><i class="icon-comments"></i>联系我们</a></li>
                <li role="presentation"><a href="/question"><i class="icon-pencil"></i>反馈意见和建议</a></li>
            </ul>
        </div>
        <!-- 右上方登陆 -->
        <div class="pull-right header-login">
            <a id="login-btn" href="/login" class="btn btn-login">教师登录</a>
        </div>
    </div>
</div>
