<title><%= title %></title>
<meta charset="utf-8">
<meta name="description" content="Class+,基于大数据分析_做中小学老师互联班级和沟通家长的安全利器,一个深度家校协下为老师减负的互联网+班级APP">
<meta name="author" content="Class+">

<!-- 让360用webkit内核渲染 -->
<meta name="renderer" content="webkit">

<!-- 禁止百度转码 -->
<meta http-equiv=”Cache-Control” content=”no-transform” />
<meta http-equiv=”Cache-Control” content=”no-siteapp” />
<meta name="format-detection" content="telephone=no">

<!-- logo -->
<link rel="shortcut icon" href="/images/logo.png"/>
<link rel="apple-touch-icon-precomposed" href="/images/logo.png" />

<!-- 压缩 -->
<meta http-equiv="content-encoding" content="application/gzip">

<!-- 用于清除缓存 -->
<meta http-equiv="pragma" content="public">
<meta http-equiv="cache-control" content="public">
<meta http-equiv="expires" content="Dec, 31 Dec 2015 16:00:00 GMT">
<!-- 移动端 -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- 微信页 -->
<meta name="sharecontent" data-msg-img="/images/logo.png" data-msg-title="Class+_基于数据分析上的班级,互联网+家校通" data-msg-content="班级“互联网+”APP" data-msg-callBack="Class+,一个建立在数据分析上的班级“互联网+”APP" data-line-img="/images/logo.png" data-line-title="Class+" data-line-callBack="Class+,一个建立在数据分析上的班级“互联网+”APP"/>

<!-- 显示快照 -->
<meta name="robots" content="noarchive">
<!-- Meta -->

<!-- css初始化 -->
<link href="/stylesheets/normalize.min.css" rel="stylesheet">
<!-- Bootstrap框架 -->
<!-- <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<!-- 自写style -->
<link rel="stylesheet" href="/stylesheets/style.css"/>

<!-- [if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif] -->
<!-- 没有开启JS的话 -->
<noscript>
    <style>.html5-wrappers {
            display: none !important;
        }</style>
    <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
    </div>
</noscript>
