body {
    padding: 0px !important;
    margin: 0px !important;
}

a {
    color: #fff;
}

.blue {
    color: #03b5ff;
}

a:focus, a:hover, a:active {
    text-decoration: none;
}

.header {
    background: rgba(245, 245, 245, 0.45);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
    height: 80px;
    margin-right: 0px;
}

.header-index {
    height: 80px;
    margin-right: 0;
    width: 100%;
    position: absolute;
    top: 15px;
}

.header-div {
    line-height: 60px;
    height: 80px;
}

.hamburger__icon, .hamburger__icon:before, .hamburger__icon:after {
    background-color: #fff!important;
}

.hamburger {
    top: 28px!important;
    left: 69px!important;
    position:absolute;
}

.fat-nav li a {
    font-family: "arial", "微软雅黑";
}

.logo-div {
    padding: 8px;
    float: left;
}

@media (min-width: 992px) {
    .logo-div {
        width: 20%;
    }

    .nav-div {
        width: 54%;
    }

    .header-login {
        width: 17%;
    }
}

.logo-a, .logo-a:hover {
    color: #fff;
    font: 600 36px 'century Gothic';
}

.login-page, .login-page:hover {
    color: rgba(211, 211, 211, 1);
}

.logo-img {
    width: 45px;
    height: 45px;
    position: relative;
    top: -5px;
    border-radius: 50%;
}

.logo-a span:nth-child(2), .content-div-top > p span {
    color: #03b5ff;
}

.logo-a span:nth-child(3) {
    color: #FAFB03;
}

.nav-div {
    float: left;
    display: none;
}

.nav > li > a {
    font: bold 18px "微软雅黑";
    color: #03b5ff;
    text-transform: uppercase;
}

.nav-pills > li > a {
    border-radius: 0px;
}

.nav-pills > li + li {
    margin-left: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #03b5ff;
    font-weight: 800;
}
.nav-div-phone {
    float: left;
}
.dropdown-menu {
    top: 76px;
    left: 27px;
}
.header-login {
    line-height: 64px;
    color: #fff;
    padding: 0px;
    float: right;
}
.header-login > a, .header-login .nav-div-phone > a {
    margin-right: 23px;
}

.btn-drop {
    position: absolute;
    top: 0;
    width: 300px;
}

.header-login .btn {
    font-weight: 800;
    font-family: "微软雅黑";
}

.content-btn-login, .btn-login, .content-btn-register, .btn-register, .btn-drop {
    padding: 10px 18px;
    transition: all .5s;
}

.content-btn-register, .btn-register {
    background-color: #03b5ff;
    color: #fff;
    border-color: #03b5ff;
}

.content-btn-register:hover, .content-btn-register:active, .btn-register:hover, .btn-register:active {
    background-color: rgba(255, 255, 255, .2);
    border-color: #03b5ff;
    color: #03b5ff;
}

.btn-login, .content-btn-login {
    background-color: #fff;
    color: #03b5ff;
    border-color: #fff;
}

.content-btn-login:hover, .btn-login:hover {
    background-color: rgba(3, 181, 255, .5);
    color: #fff;
    border-color: #03b5ff;
}

#myModal {
    top: 50px;
}

#gridSystemModal {
    top: 0;
}

@media (max-width: 767px) {
    #myModal {
        top: 100px;
    }
}

@media (max-width: 892px) {
    .content-div-top {
        height: 250px;
        top: 7% !important;
        padding: 10px 0 0;
        position: relative;
    }

    .header-index {
        position: relative;
    }

    .content-div-top p {
        letter-spacing: 4px !important;
    }
}

.contact-div-top {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
}

.contact-div-top {
    width: 100%;
    position: absolute;
    bottom: 37%;
}

.content-div-top {
    text-align: center;
    color: #fff1f0;
    position: absolute;
    width: 100%;
    bottom: 350px;
}

.content-div-top h1 {
    font-weight: 500;
    font-size: 4.5em;
    line-height: 70px;
    font-family: "century Gothic", "黑体";
    margin: 0;
}

.content-div-top p {
    font-weight: 500;
    font-size: 2.5em;
    font-family: "arial", "微软雅黑";
    letter-spacing: 8px;
}
.content-div-top .temp{
    font-size: 1.3em;
    letter-spacing: 0;
}

.content-div-bottom {
    margin: 35px auto 30px;
    padding: 10px 0 0;
    position: absolute;
    width: 100%;
    bottom: 72px;
    left: 0;
}

.content-right {
    text-align: center;
    width: 185px;
    margin-left: 10.5%;
    display: block;
}

.content-left a, .content-right a {
    font: 700 1.2em "arial", "微软雅黑";
    margin: 5px auto;
}

.content-left a {
    width: 155px;
    letter-spacing: 2px;
}

.content-right a {
    width: 155px;
    letter-spacing: 5px;
}

.content-right span {
    color: #fff;
    font-family: "century Gothic", "黑体";
    font-size: 1.2em;
    letter-spacing: 2px;
    display: block;
}

.index-footer {
    position: absolute;
    bottom: 62px;
    left: 0;
    width: 100%;
}

.content-center div span, .index-footer span {
    color: #fff;
    font-size: 1.2em;
    font-family: "century Gothic", "黑体";
}

.content-center .content-center-div:nth-child(1) {
    border-right: 2px dashed #fff;
}

.content-center-div span {
    display: block;
    text-align: center;
}

.content-center-div span:nth-child(2) {
    font-size: 1.1em;
}

@media (max-width: 992px) {
    .logo-a, .logo-a:hover {
        color: rgba(0, 0, 0, 0);
    }

    .logo-a span {
        display: none;
    }

    .content-div-top p {
        line-height: 60px;
        font-size: 2em;
    }
    .content-div-top .temp{
        font-size: 0.3em;
       line-height: 0;

    }

    .content-div-top {
        margin: 0;
        bottom: 0;
        padding: 0 5px;
        position: relative;
    }

    .content-div-bottom {
        margin: 0 auto 0;
        padding: 0;
        bottom: 0;
        position: relative;
    }

    .content-center {
        line-height: 40px;
    }

    .content-center .content-center-div:nth-child(1) {
        border-bottom: 2px dashed #fff;
        border-right: none;
        width: 160px;
        margin: 0px auto;
    }

    .content-btn-login {
        display: block;
        width: 180px;
    }

    .content-right {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    .index-footer {
        position: relative;
        bottom: 0;
    }
}

.content-center-function {
    text-align: center;
    display: inline-block;
    width: 100%;
}

@media (max-width: 996px) {
    .content-center-function {
        padding-top: 15px;
    }
}

.content-center-function span {
    font-size: 1.2em;
}

.content-center-function span {
    transition: color .5s;
}

.content-center-function span:hover {
    color: #03b5ff;
}

.download {
    text-align: center;
}

.download a img {
    height: 60px;
    margin-right: 23px;
}

.download > img {
    width: 70%;
    margin: 22px auto;
}

@media (max-width: 436px) {
    .download a img {
        margin-top: 18px;
    }
}

.footer {
    display: block;
    text-align: center;
    background-color: #505050;
    height: auto;
}

.footer div a p {
    color: #bbb;
    font: 1em/16px "arial", "微软雅黑";
    transition: color .5s;
}

.footer p:hover {
    color: #fff;
}

.footer .row:nth-child(1) {
    margin-top: 10px;
}

.footer .row .col-md-4 {
    border-right: 1px dotted #bbb;
    margin-top: 12px;
}

.footer .row .contact-div .abc {
    visibility: hidden;
}

@media (max-width: 892px) {
    .footer .row .contact-div .abc {
        display: none !important;
    }
}

.footer-bottom a {
    color: #B4B4B4;
    transition: color .3s;
}

.footer-bottom a:hover {
    color: #fff;
}

.footer .row:nth-child(2) p {
    text-align: center;
    line-height: 26px;
    color: #B4B4B4;
    font-family: "Microsoft Yahei";
    font-size: 8px;
}

.footer .wechat img{
    position: absolute;
    top: -114px;
    left: 36%;
    display:none;
}

.question-div {
    background: url("../images/search.jpg") no-repeat center center;
    background-size: cover;
    height: 260px;
}

.question-div p {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-family: "century Gothic", "华文中宋";
}

.question-div p:nth-child(1) {
    margin-top: 35px;
}

.question-div p:nth-child(2) {
    letter-spacing: 2px;
}

.search-div {
    margin: 0px auto;
    width: 500px;
    margin-top: 20px;
}

@media (max-width: 630px) {
    .search-div {
        width: 340px;
    }

    .question-div p {
        font-size: 2em;
    }

    .question-div p:nth-child(2) {
        margin: 20px 0 20px;
        letter-spacing: 0px;
    }
}

.search-div input[type=text] {
    width: 100%;
}

.main {
    margin: 0 auto;
    width: 88%;
}

#help h2, #down h2 {
    font-size: 18px;
    line-height: 54px;
    color: #323232;
    border-bottom: 3px solid #03b5ff;
    width: 150px;
    font-weight: normal;
}

#help dt {
    cursor: pointer;
    color: #353535;
    font-size: 2em;
    font-family: "arial", "微软雅黑";
    margin-bottom: 20px;
}

@media (max-width: 764px) {
    #help dt {
        font-size: 1.5em;
    }

    #help dd {
        font-size: 1.2em;
    }
}

#help dd {
    display: none;
    color: #767676;
    font-size: 1.4em;
    font-family: "century Gothic", "黑体";
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    letter-spacing: 1px;
}

#help dt, #help dd {
    margin-left: 40px;
    position: relative;
}

#help dt i, #help dd i {
    font-family: "iconfont";
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 37px;
    height: 36px;
    display: block;
    position: absolute;
}

#help dt i {
    color: #03B5FF;
    font-size: 1.3em;
    left: -43px;
    top: -6px;
}

@media screen and (max-width: 764px) {
    #help dt i {
        font-size: 1.7em;
        left: -43px;
        top: -12px;
    }
}

#help dd i {
    color: #03B5FF;
    font-size: 1.8em;
    left: -43px;
    top: 8px;
}

#help .mb {
    padding: 20px 20px 0 20px;
}

.about-us > h1 {
    border-bottom: 1px solid #dbd6d0;
    width: 180px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
    font: 700 1.8em "arial", "微软雅黑";
}

.about-us > .p1 {
    font-size: 1.5em;
    border-left: 5px solid #03b5ff;
    padding: 0px 12px 0px;
}

.panel-title > a {
    display: block;
    font: normal 21px "微软雅黑";
}

.panel-body {
    font-family: 微软雅黑;
    color: rgb(102, 102, 102);
    font-size: 18px
}

.teacher-div {
    margin: 130px 0px 100px;
}

@media (max-width: 892px) {
    .teacher-div div:nth-child(2) {
        border-left: none !important;
        padding-top: 64px;
        border-top: 1px dotted #03b5ff;
    }

    .teacher-div div:nth-child(1) {
        height: 170px !important;
    }

    .teacher-div {
        margin: 60px 0px 22px;
    }
}

.teacher-div div a {
    padding: 19px 28px;
    font: 500 1.5em "century Gothic", "华文中宋";
    letter-spacing: 7px;
}

.teacher-div div p {
    font: 500 1.3em/40px "arial", "微软雅黑";
}

.teacher-div div:nth-child(1) a {
    background-color: #fff;
    border-color: #03b5ff;
    color: #03b5ff;
}

.teacher-div:nth-child(1) a:hover {
    background-color: #03b5ff;
    color: #fff;
}

.teacher-div div:nth-child(2) {
    border-left: 2px dotted #337ab7;
}

.teacher-div div:nth-child(2) a {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}

.teacher-div div:nth-child(2) a:hover {
    background-color: #fff;
    color: #03b5ff;
    border-color: #03b5ff;
}

.teacher-div div {
    text-align: center;
    height: 238px;
}

#createClass, #relateClass {
    top: 100px;
}

.popover-content {
    width: 106px;
    line-height: 22px;
}

#relateClass .modal-dialog .modal-header, #createClass .modal-dialog .modal-header {
    border-bottom: none;
}

.relate-div h2 {
    text-align: center;
    font-family: "arial", "微软雅黑";
}

.relate-div .input-group {
    margin: 30px 0px 25px;
}

.relate-div input {
    font-size: 1.5em;
    font-family: "century Gothic", "黑体";
}

#preview {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

#imghead {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
}

#createClass h2 {
    text-align: center;
    font-family: "arial", "微软雅黑";
    font-size: 2em;
    color: #03b5ff;
}

#createClass .close {
    position: absolute;
    right: 28px;
    top: 25px;
}

#createClass input[type=file] {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: -10px;
    left: -1px;
    height: 137px;
    width: 153px;
    cursor: pointer;
}

#createClass input[type=text], #createClass select, #createClass input[type=button] {
    margin-bottom: 15px;
}

#createClass input[type=text] {
    width: 100%;
    height: 36px;
}

#createClass input[type=submit] {
    width: 120px;
    font-size: 1.3em;
    font-family: "arial", "微软雅黑";
    letter-spacing: 5px;
}

#createClass select {
    height: 37px;
}

#createClass select[id="grade"] {
    width: 100%;
}

#createClass .form-div {
    display: inline;
}

#createClass #preview {
    margin: 0 auto;
}

#createClass .form-submit {
    text-align: center;
}

#createClass hr {
    margin: 0;
    padding: 0;
}

#createClass label {
    font-family: "arial", "微软雅黑";
    float: left;
    font-size: 1.2em;
    margin-top: 3px;
}

#createClass label span {
    font-size: 0.5em;
    font-weight: 500;
    letter-spacing: -1.5px;
}

#createClass .form-div .col-md-4 {
    margin: 3%;
}

#createClass .modal-header {
    padding-bottom: 0;
}

#createClass .modal-body {
    padding-top: 0;
}

#ul1 {
    border: 1px solid #03b5ff;
    width: 100%;
    margin: -16px 0 0 0;
    padding: 0;
    display: none;
    list-style: none;
}

.schoolLi {
    line-height: 30px;
    padding: 5px;
    text-decoration: none;
    color: black;
    display: block;
    cursor: pointer
}

.schoolLi:hover {
    background: #03b5ff;
    color: white;
}

label.error {
    margin: 7px 0 10px 5px;
    font-size: 16px;
    text-align: left;
    color: #eb4141;
    display: none;
    font-weight: 500;
    float: left;
    background: url("../images/error.png") no-repeat;
    padding-left: 20px;
    background-size: 20px;
}

label.valid {
    margin: 7px 0 10px 5px;
    text-align: left;
    width: 20px;
    height: 20px;
    float: left;
    background: url("../images/success.png") no-repeat;
    background-size: 20px 20px;
}

#relateClass .input-group {
    width: 100%;
    display: inline-block;
}

#relateClass .form-control {
    display: inline-block;
    width: 92%;
}

#relateClass .support-a {
    float: right;
    display: inline-block;
}

#relateClass .support-img {
    width: 40px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding-top: 45px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

h2 {
    text-shadow: 1px 1px 1px #FFFFFF;
}

a {
    color: #26AEF2;
}

a:focus {
    outline: none;
}

form {
    margin: 0;
}

.breadcrumb > li {
    text-shadow: none;
}

.heading > a.btn {
    font-weight: normal;
    margin: 5px 0 0;
}

.container-narrow {
    width: 95%;
    max-width: 360px;
    margin: 7% auto;
}

.divider hr {
    margin: 18px 2px;
    width: 26%;
}

.divider {
    color: #656564;
    font: 13px/37px "Microsoft YaHei", "微软雅黑";
    text-align: center;
    margin: 10px -5px 40px;
}

.divider span {
    float: left;
}

.widget {
    border-radius: 3px 3px 3px 3px;
    overflow: hidden;
}

.widget-padding .widget-body {
    padding: 15px;
}

.widget-header {
    background-color: #efefef;
    border-radius: 3px 3px 0 0;
    min-height: 51px;
    border: 1px solid #DDDDDD;
}

.widget-header > i, .widget-header h5 {
    float: left;
    color: #62687e;
    font-weight: 200;
}

.widget-header > i {
    font-size: 16px;
    padding: 13px 10px 15px 19px;
    text-align: center;
    width: 40px;
}

.widget-header a {
    color: #777777;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 0 8px;
    text-decoration: none;
}

.widget-header a:hover {
    color: #333;
}

.widget-header a.widget-hidden i {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.widget-header h5 {
    margin: 0;
    padding: 15px 0 0;
    font-size: 16px;
}

.widget-buttons button {
    margin-top: -5px;
}

.widget-body {
    padding: 25px;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #ccc;
    background-color: #fff;
}

.widget-body .table strong {
    color: #E28271;
}

.widget-header:before, .widget-header:after {
    content: "";
    display: table;
    line-height: 0;
}

.widget-header:after {
    clear: both;
}

.widget-analytics-small ul {
    list-style: none;
    float: left;
    margin: 0;
    width: 100%;
}

.widget-analytics-small ul li {
    clear: both;
    margin: 10px 5px;
}

.widget-analytics-small span {
    margin: 0 7px 0 0;
}

.widget-analytics-small a {
}

.widget-analytics-small h4 {
    margin: 0 10px 0 0;
    float: right;
    display: inline;
    color: #E28271;
}

.widget-analytics-small h5 {
    font-size: 12px;
    margin: 0;
    display: inline;
}

.fc-header-title h2 {
    font-size: 20px;
    color: #3D3D3D;
    text-shadow: 1px 1px 1px white;
    margin: 5px 0;
}

.login-form .control-group {
    margin-bottom: 10px;
}

.login-form .control-group:nth-child(3) {
    margin-top: 10px;
}

input {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 36px;
}

input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

.controls span {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.login-div button, .modal-footer button[type="submit"] {
    padding: 10px 18px;
    transition: all .5s;
    background-color: #03b5ff;
    color: #fff;
    border-color: #03b5ff;
    font-size: 16px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}

.login-div button:hover, .modal-footer button[type="submit"]:hover {
    background-color: #006dcc;
    border-color: #006dcc;
}

.modal-header {
    font-family: "微软雅黑";
    font-weight: bolder;
}

.modal-header h2 span {
    color: #03b5ff;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1447545690_831914.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1447545690_831914.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1447545690_831914.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1447545690_831914.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1447545690_831914.svg#iconfont') format('svg'); /* iOS 4.1- */
}




.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.ul-role {
    display: block;
    height: 40px;
    font: bold 1.3em/35px "微软雅黑";
    margin: 0px auto;
    text-align: center;
    padding: 0px;
    color: #03b5ff;
}

.li-role {
    list-style: none;
    float: left;
    display: block;
    padding: 0 20px;
    margin: 0 20px;
    cursor: pointer;
    border: 1px solid #03b5ff;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

@media screen and (max-width: 615px) {
    .ul-role {
        font: 600 1em/35px "微软雅黑";
        height: 40px;
        width: 100%;
    }

    .li-role {
        padding: 0 7px;
        margin: 0 3px;
    }
}

.role-li-active {
    color: #fff !important;
    background: #03b5ff !important;
}

.role-i-active {
    color: #fff !important;
}

.li-role i {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #03b5ff;
}

.register-form label {
    float: left;
    margin: 7px 0 10px 5px;
    font: 500 16px "arial", "华文细黑";
    text-align: left;
    color: #777;
}

.register-form input {
    display: block;
    width: 92%;
}

.register-form input[type=radio] {
    float: left;
    width: 16px;
    height: 24px;
}

.register-form .sexdiv {
    display: inline-flex;
}

.yzm-div {
    display: block;
    margin-top: 20px;
}

.yzm-div input {
    display: inline;
}

.yzm-div #phone_code {
    width: 25%;
}

.yzm-div input[type=button] {
    width: 28%;
}

@-webkit-keyframes shineBlue {
    from {
        -webkit-box-shadow: 0 0 30px #03b5ff;
    }
    50% {
        -webkit-box-shadow: 0 0 8px blue;
    }
    to {
        -webkit-box-shadow: 0 0 30px #03b5ff;
    }
}

.shine_blue {
    -webkit-animation-name: shineBlue;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

input[type='button'], input[type='submit'], input[type='reset'], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
