<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>

  <div class="container about-us">
    <h1>关于Class+</h1>

    <p class="p1">什么是Class+？</p>
    <section style="border: 0px; margin: 0.5em 0px; padding: 0.3em; box-sizing: border-box;"
             class="tn-Powered-by-XIUMI">
        <section
                style="line-height: 37px!important;border: 1px solid rgb(192, 200, 209); padding: 10px; box-shadow: rgb(170, 170, 170) 0px 0px 10px; font-size: 1.3em; line-height: 1.4; color: rgb(51, 51, 51); font-family: inherit; text-decoration: inherit; box-sizing: border-box; background-color: rgb(250, 250, 239);"
                class="tn-Powered-by-XIUMI">
            <section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;">Class+ 是为老师量身打造的一款免费通信平台。</section>
            <section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;">
                Class+让老师与学生和家长开展安全有效的沟通交流，谈论学校和课堂上的各种信息和活动，并将部分信息利用手机APP在自己的班级范围里共享。用户可以学生或家长的身份注册，并直接使用我们的应用程序来接收消息。
            </section>
        </section>
        <section style="display: block; width: 0; height: 0; clear: both;"></section>
    </section>
    <p class="p1">什么是Class+的班级邀请码？</p>
    <section style="border: 0px; margin: 0.5em 0px; padding: 0.3em; box-sizing: border-box;"
             class="tn-Powered-by-XIUMI">
        <section
                style="line-height: 37px!important;border: 1px solid rgb(192, 200, 209); padding: 10px; box-shadow: rgb(170, 170, 170) 0px 0px 10px; font-size: 1.3em; line-height: 1.4; color: rgb(51, 51, 51); font-family: inherit; text-decoration: inherit; box-sizing: border-box; background-color: rgb(250, 250, 239);"
                class="tn-Powered-by-XIUMI">
            <section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;">
                Class+的班级邀请码，是老师在创建班级完成后，所创建班级的标识。4位由英文字母和数字所组成的随机数字。
            </section>
            <section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;">
                老师：可以邀请同事、家长和学生，通过已知的4位班级邀请码来和自己创建的班级关联。
            </section>
            <section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;">家长和学生还有教师：也可以通过自己想要关联的班级的邀请码来关联该班级。
            </section>
        </section>
        <section style="display: block; width: 0; height: 0; clear: both;"></section>
    </section>
    <p class="p1">为何每个人都要发送同一个邀请码来加入这个班级？</p>
    <section style="border: 0px;   margin: 0.5em 0px 1.5em; padding: 0.3em; box-sizing: border-box;"
             class="tn-Powered-by-XIUMI">
        <section
                style="line-height: 37px!important;border: 1px solid rgb(192, 200, 209); padding: 10px; box-shadow: rgb(170, 170, 170) 0px 0px 10px; font-size: 1.3em; line-height: 1.4; color: rgb(51, 51, 51); font-family: inherit; text-decoration: inherit; box-sizing: border-box; background-color: rgb(250, 250, 239);"
                class="tn-Powered-by-XIUMI">
            <section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;">&nbsp; &nbsp;
                因为老师创建班级后，所创建的班级和它的班级邀请码是相互对应的关系；
            </section>
            <section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;">
                也就是说班级邀请码就好像班级的一个邀请函，和该班级相关的人都可以通过该班级的班级邀请码查找到这个班级，在老师同意后便可以接受和共享整个班级的消息和内容，以及享受Class+位其提供的相关教育服务。
            </section>
        </section>
        <section style="display: block; width: 0; height: 0; clear: both;"></section>
    </section>

</div>







  <% include ../partials/footer %>
  <% include ../partials/foot %>
</body>
</html>
