<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>

   <div class="container">
        <div class="rich_media_content" id="js_content">
            <section style="overflow: auto; box-sizing: border-box; "
                     class="tn-Powered-by-XIUMI">
                <section class="tn-Powered-by-XIUMI" style="   width: 100%; box-sizing: border-box; ">
                    <section class="tn-Powered-by-XIUMI"
                             style=" margin: 10px 0px; text-align: center;  width: 100%; height: 100%; box-sizing: border-box; ">
                        <img class="tn-Powered-by-XIUMI"
                             data-src="/images/contact.png"
                             style="border: 5px solid white; width: 7em !important; height: auto !important; margin-bottom: -3.5em; border-radius: 100%; box-shadow: rgb(204, 204, 204) 1px 1px 2px; box-sizing: border-box; visibility: visible !important;"
                             data-type="png" data-ratio="1" data-w="102" _width="7em"
                             src="/images/contact.png">
                        <section class="tn-Powered-by-XIUMI"
                                 style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px; border: 2px dotted rgb(95, 156, 239); border-radius: 0.3em; box-sizing: border-box;">
                            <section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;">
                                <section class="tn-Powered-by-XIUMI"
                                         style="   width: 100%; height: 100%; box-sizing: border-box; ">
                                    <section class="tn-Powered-by-XIUMI"
                                             style='  font-size: 1.2em;   padding: 3em 0px 15px; box-sizing: border-box;line-height: 28px;font-family: "arial", "微软雅黑";'>
                                        <section style="font-size: 100%; box-sizing: border-box;"
                                                 class="tn-Powered-by-XIUMI">contact@classjia.com 联系邮箱
                                        </section>
                                        <section style="font-size: 100%; box-sizing: border-box;"
                                                 class="tn-Powered-by-XIUMI">user@classjia.com 用户邮箱
                                        </section>
                                        <section style="font-size: 100%; box-sizing: border-box;"
                                                 class="tn-Powered-by-XIUMI">account@classjia.com 账户问题反馈邮箱
                                        </section>
                                        <section style="font-size: 100%; box-sizing: border-box;"
                                                 class="tn-Powered-by-XIUMI">report@classjia.com 举报邮箱
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <p><br></p>
        </div>


    </div>





  <% include ../partials/footer %>
  <% include ../partials/foot %>
</body>
</html>
