<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/stylesheets/function.css">
</head>
<body>
  <% include ../partials/header %>


  <!-- 内容Content Start -->
<div class="function">
    <div class="function-header">
        <p>功 能</p>
        <p>Class+，基于数据分析的教学辅助"互联网+"班级App</p>
    </div>

    <div class="container">
        <div class="function-content">
            <div class="function-div col-md-3">
                <i class="icon-function">&#xe60b;</i>

                <p>即时</p>
                <span>只需数秒即可完成注册，并向全班或单个用户发送消息</span>
            </div>

            <div class="function-div col-md-3">
                <i class="icon-function">&#xe612;</i>

                <p>安全</p>
                <span>您的个人信息与联系方式始终做到安全隐私，交流对方不可见。</span>
            </div>

            <div class="function-div col-md-3">
                <i class="icon-function">&#xe609;</i>

                <p>高效</p>
                <span>发送单向通知或双向聊天，省时省力</span>
            </div>

            <div class="function-div col-md-3">
                <i class="icon-function">&#xe605;</i>

                <p>免费</p>
                <span>教师与学生、家长于客户端的使用不收取任何费用。</span>
            </div>
        </div>

        <!-- 即时 -->
        <div class="function-detail">
            <p>即 时</p>
            <div class="col-md-4 function-details">
                <i class="icon-function">&#xe600;</i>

                <p>校园通知</p>
                <span>校园新闻、班级通知等一切讯息将在第一时刻为您推送，为您保证信息传达的时效性。</span>
            </div>

            <div class="col-md-4 function-details">
                <i class="icon-function">&#xe60f;</i>

                <p>每日推荐</p>
                <span>Class+为您提供的贴心推送，学习在生活中无处不在。</span>
            </div>

            <div class="col-md-4 function-details">
                <i class="icon-function">&#xe607;</i>

                <p>聊天</p>
                <span>有沟通，才有进步。Class+为您提供方便快捷的沟通桥梁。</span>
            </div>
        </div>

        <!-- 安全 -->
        <div class="function-detail">
            <p>安 全</p>
            <div class="col-md-6 function-details">
                <i class="icon-function">&#xe615;</i>
                <p>班级信息</p>
                <span>可查看班级信息的具体内容，在此我们保证教师个人信息的隐私安全。</span>
            </div>

            <div class="col-md-6 function-details">
                <i class="icon-function">&#xe613;   </i>
                <p>聊天记录</p>
                <span>Class+为您更加安全的聊天记录保护</span>
            </div>
        </div>



        <!-- 高效 -->
        <div class="function-detail">
            <p>高 效</p>
            <div class="col-md-4 function-details">
                <i class="icon-function">&#xe604;</i>
                <p>考试分析</p>
                <span>通过科学而合理化的考试分析，将学生的学习情况做以展示。</span>
            </div>

            <div class="col-md-4 function-details">
                <i class="icon-function">&#xe606;</i>
                <p>每日作业</p>
                <span>第一时间获得教师所布置的作业内容以及重点提示，方便于学生的学习与知识的及时回顾。</span>
            </div>


            <div class="col-md-4 function-details">
                <i class="icon-function">&#xe602;</i>
                <p>Class时光轴</p>
                <span>走过的路，有我们替您铭记。class+的每一员，只需向前看。</span>
            </div>
        </div>


        <!-- 免费 -->
        <div class="function-detail">
            <p>免 费</p>
            <div class="col-md-12 function-details">
                <img src="/images/free.png" class="free-img" alt=""/>
                <span>教师与学生、家长于客户端的使用不收取任何费用。</span>
                <a class="btn btn-block content-btn-register btn-function"  data-toggle="modal" data-target="#gridSystemModal">立即下载</a>
            </div>
        </div>
    </div>
</div>


  <% include ../partials/download %>





  <% include ../partials/footer %>
  <% include ../partials/foot %>




</body>
</html>
