<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>

  <div class="row question-div">
    <p>常见问题</p>

    <p>您可以点击以下对话框输入你的问题</p>

    <div class="search-div input-group input-group-lg col-md-offset-2 col-md-6">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input type="text" class="form-control" placeholder="搜索">
    </div>

</div>

<div class="container">
    <div class="row">
        <div id="help" class="m main">
            <h2 class="mt mt20">
                <section style="border: 0px; box-sizing: border-box; margin: 5px 0px 14px; padding: 0px;"
                         class="tn-Powered-by-XIUMI">
                    <section
                            style="width: 40px; height: 40px; padding: 8px 12px 8px 4px; color: white; font-size: 24px; font-style: italic; line-height: 1; border-radius: 20px; box-sizing: border-box; background-color: rgb(95, 156, 239);"
                            class="tn-Powered-by-XIUMI">Q
                    </section>
                    <section
                            style="width: 40px; height: 40px; padding: 8px; margin-top: -40px; margin-left: 28px; font-size: 24px; font-style: italic; line-height: 1; border-width: 1px; border-style: solid; border-top-color: rgb(95, 156, 239); border-right-color: rgb(95, 156, 239); border-bottom-color: rgb(95, 156, 239); border-radius: 20px; border-left-color: white !important; box-sizing: border-box;"
                            class="tn-Powered-by-XIUMI">
                        <section
                                style="text-align: right; font-size: 24px; color: rgb(95, 156, 239); box-sizing: border-box;"
                                class="tn-Powered-by-XIUMI">A
                        </section>
                    </section>
                </section>
            </h2>
            <div class="mb">
                <dl>
                    <dt><i>&#xe618;</i>什么是Class+？</dt>
                    <dd><i>&#xe617;</i>Class+ 是为老师量身打造的一款免费通信平台。<br/>
                        Class+让老师与学生和家长开展安全有效的沟通交流，谈论学校和课堂上的各种信息和活动，并将部分信息利用手机APP在自己的班级范围里共享。用户可以学生或家长的身份注册，并直接使用我们的应用程序来接收消息。
                    </dd>
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>使用Class+会有什么资费吗？</dt>
                    <dd><i>&#xe617;</i>Class+提供免费服务。老师可使用网页或应用程序完成注册及发送消息。用户则需要使用应用程序或通过电子邮件进行订阅，之后才能接收消息。两者完全免费！后期我们还会推出更多更加让你感到惊讶的服务。
                    </dd>
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>如何进行某些不良信息或者用户的举报?</dt>
                    <dd><i>&#xe617;</i>我们与各位老师携手合作，共同打造安全无忧的聊天体验。我们的《社区指南》有助于老师、学生和家长进一步了解共同维护Class+安全的相关事项。<br/>

                        根据需要，我们也提供了多种举报选项：<br/>

                        1、通过邮件发送聊天文本：聊天记录文本 (PDF) 将会通过邮件发送到帐户持有人的电子邮箱。这些记录可向家长、管理人员或其他可信任的成年人共享。<br/>
                        2、退订班级：老师、学生和家长可通过聊天窗口中的快捷键离开班级。退订后，即不再接收任何消息（包括通知和聊天）。<br/>
                        3、向 Class+ 举报：维护安全是我们大家的共同责任。您可根据需要向我们举报某个聊天，通过相关选项告知我们举报的原因。感觉您帮助维护 Class+ 安全！<br/>


                        要举报聊天或通过邮件发送聊天文本，请点按屏幕右上角的 (…) 按钮，其中列有用户信息、“暂停聊天”及“更多”选项。点按“更多”然后“举报”。
                    </dd>
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>为什么说 Class+ 安全无忧？</dt>
                    <dd><i>&#xe617;</i>我们深知隐私权和安全性至关重要，尤其在老师与学生或老师与家长的沟通交流中更是如此。针对这些担忧，我们与学校管理人员和各位老师携手合作，共同参与了产品主要功能的设计工作。<br/>

                        以下是对我们的免费消息服务以及隐私安全方面的限制措施所作的详细介绍：<br/>

                        不交换个人信息：Class+的消息并不是通过个人手机号码发送的。注册同意通过Class+
                        接收消息的学生/家长无权访问老师的个人手机号码，老师也无权获取学生或家长的个人信息。（学生和家长自愿选择接收消息）<br/>

                        通信记录完整保存：所有的通知和聊天记录会采用老师的帐户保存在我们的服务器上。这些消息记录无法编辑也无法删除。这就是说，准确的通信记录始终触手可及。如果有人质疑您曾经发过或未曾发过的内容，您可随时将消息记录导出对证。<br/>

                        向 Class+ 举报：确保Class+安全是我们的第一要务，也是大家的共同责任。我们已经发布了《Class+社区指南》，帮助每个人了解如何确保 Class+ 使用安全。如需向 Class+
                        举报，您可在任何聊天窗口中选择“向 Class+ 举报”。 <br/>

                        个人信息决不共享或出售：我们不会向任何他人出借、共享或出售用户信息。有权接触匿名用户数据的只有我们的服务操作人员。我们将用户信息仅用于服务运行目的，这一点非常重要。任何时候，我们也不会出借或出售用户信息。<br/>

                        老师们通过将信息交流纳入到自己的教育策略中，感觉获益良多。我们注意到学生们的作业完成情况日益改善、考试成绩日益提高、课堂活动参与热情日益高涨、家长参与日益增多，学生积极性呈整体上升趋势。 <br/>


                        虽非老师，但仍然对 Class+
                        兴趣盎然？我们公司的服务对象主要是从幼儿园到高中的教育工作者，因此语言风格更贴近老师、学生和家长。但无论您在经营一支联盟球队、还是负责一项社区志愿者活动，哪怕是管理一座教堂，我们都热忱欢迎您使用
                        Class+！<br/>

                        抽空阅读我们的《服务条款》和《隐私政策》，深入了解我们在用户信息使用方面的良苦用心。或者查阅我们的博文了解更多信息！
                    </dd>
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>如何获得老师的班级邀请码？</dt>
                    <dd><i>&#xe617;</i>1、得到班级邀请码，一般老师在创建班级后，班级的邀请码会自动生成，老师通过转发的 友情邀请链接 来告知班级的所有成员。<br/>
                        2、在对话框用该班级创建教师的电话来进行搜索，然后在返回的班级列表里根据班级昵称选择自己想要创建的班级。
                    </dd>
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>没有Class+的班级邀请码，怎么加入班级？</dt>
                    <dd><i>&#xe617;</i>在关联班级的对话框输入该班级创建教师的电话来进行搜索，然后我们系统会返回该老师所创建所有班级的班级列表，您可在返回的班级列表里根据班级昵称选择自己想要创建的班级。</dd>
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>怎样在Class+上“加入”一个班级？</dt>
                    <dd><i>&#xe617;</i> “加入”一个班级在Class+上就是我们所说的班级关联。<br/>
                        具体方法:下载Class+ APP后在我们APP主界面的右上角，单击 加号按钮，在弹出的下拉菜单中选择 关联班级 ，接下来会出现 关联班级界面 ，在关联班级的界面上放有一个
                        搜索框，填写你想要关注班级的班级邀请码，点击关联，之后通过该班级所创建的教师验证，则加入（关联）班级成功！
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>怎样在Class+上“退出”一个班级？</dt>
                    <dd><i>&#xe617;</i> 我们所说的“退出”班级的定义是：不在接受该班级的推送消息，以及停止和这个班级相关的信息分享服务。<br/>
                        首先，进入你的个人设置主页（点击你个人信息界面的右上角的齿轮按钮即可进入），在该列表中有一个关联班级选项，点击该选项后，进入班级关联界面，在班级关联的界面中有你目前所有关联班级的列表，找到你想要退出的班级，单击该班级后面的那个
                        X号 按钮即可解除你和该班级的关联关系。
                    </dd>
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>如何拒绝接受来自Class+的消息？</dt>
                    <dd><i>&#xe617;</i> 首先，进入你的个人设置主页（点击你个人信息界面的右上角的齿轮按钮即可进入），在该列表中选择 消息推送 选项，点击该选项后，进入消息推送 设置界面，关闭 消息推送 功能即可。
                    </dd>
                </dl>
                <dl>
                    <dt><i>&#xe618;</i>使用Class+是收费的吗？</dt>
                    <dd><i>&#xe617;</i> Class+提供免费服务。老师可使用我们的手机APP完成注册及发送消息。</dd>
                </dl>

                <dl>
                    <dt><i>&#xe618;</i>在Class+有什么招聘吗？</dt>
                    <dd><i>&#xe617;</i>是的!我们总是喜欢听来自教师或任何其他爱好者享受使用Class+的感受,所以也希望您来我们公司工作!详情请查看我们的职业页面,发送你的简历!</dd>
                </dl>


                <dl>
                    <dt><i>&#xe618;</i>可以将Class+作为一个班级紧急消息的通知系统吗？</dt>
                    <dd><i>&#xe617;</i>Class+能够被用于大型广播消息,但我们不认为自己是一个紧急消息传递系统。由于负债和其他基础设施相关的问题，我们理想的设计用于某些非关键警报。但是，我们可以尝试在未来建立一套紧急警报功能的机制，但目前我们不保证此功能。
                    </dd>
                </dl>


            </div>
        </div>

    </div>
</div>




  <% include ../partials/footer %>
  <% include ../partials/foot %>
</body>
</html>
